<h1>Thermometers List</h1>
{% if messages %}
Message:
  {% for message in messages %}
     {{message}}
  {% endfor %}
{% endif %}
<table border="0">
<TR bgcolor="lightgrey"><TD>Therm_name</TD><TD>Latitude</TD><td>Longitude</td><td>Elevation</td><td>Device MAC</td></TR>
    {% for item in all %}
    <TR>
        <TD>
            {{item.plain_name}}
        </TD>
        <TD>
            {{item.device_lat}}
        </TD>    
        <TD>
            {{item.device_lon}}
        </TD>    
        <TD>
            {{item.device_ele}} ft
        </TD>    
        <TD>
            {{item.device_mac}}
        </TD> 
        <TD>
            <a href="DeleteThermById/{{ item.id }}">delete id: {{ item.id }}</a>
        </TD>
    </TR>
    {% endfor %}
</table>
{% csrf_token %}